<section class="center-vertical">
<h1>コメントの更新</h1>
<form action="/edit/<%= t.id %>" method="post">
	<input type="text" name="comment" placeholder="コメント">
  <input type="submit" value="更新">
</form>
</section>
