<section class="first-view center-vertical">
<h1>MUSIC SNS!!!</h1>
<div>
<% unless session[:user] %>
	    <form action="/signin" method="POST" class="form-inline">
        <input name="name" placeholder="ユーザー名"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <input type="submit" value="ログイン"><br>
      </form>
    </div>
    <% else %>

  <% end %>
</section>
  <section class="center-vertical">
    <h1>最近の投稿</h1>
    <% @tasks.each do |t| %>
      <div class="post center-vertical">
		    <img src="<%= t.image %>">
		    <p>artist:<%= t.artist %></p>
        <p>コメント:<%= t.comment %></p>
        <p>投稿者:<%= t.user_name %></p>
      </div>
    <% end %>
  </section>
