<section class="first-view center-vertical">
<h1>MUSIC SNS!!!</h1>
<% unless session[:user] %>
    <div>
	    <form action="/signin" method="POST" class="form-inline">
        <input name="name" placeholder="ユーザー名"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <input type="submit" value="ログイン"><br>
      </form>
    </div>
    <% else %>

  <% end %>
  </section>
  <% @tasks.each do |t| %>
		<p><%= t.image %></p>
		<p><%= t.artist %></p>
		<p><%= t.comment %></p>
    <p><%= t.user_name %></p>
<% end %>