<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>MUSIC-SNS</title>
</head>
<body>
<nav class="center-hrizontal">
<% unless session[:user] %>
<a href="/">MUSIC SNS!!!</a>
<a href="/signup">新規登録</a>
<% else %>
<a href="/">MUSIC SNS!!!</a>
<a href="/home">home</a>
<a href="/search">search</a>
<a href="/signout">logout</a>
<% end %>
</nav>
<main>
<%= yield %>
</main>
</body>
</html>
